* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

:root {
  --bodycolor: aliceblue;
  /* --blue: crimson; */
  --blue: #2978b5;
  --grey-white: #444444;
  --white: rgb(48, 48, 48);
  --grey: #555555;
}

.light {
  --bodycolor: #141725;
  /* --blue: red; */
  --blue: #90a0d9;
  --grey-white: #cdcdff;
  --white: white;
  --grey: #bdbddd;
  --color-calendar-graph-day-bg: #a5a5a5;
}

img {
  width: 100%;
}

a {
  all: unset;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bodycolor);
  color: var(--white);
}

.blue {
  color: var(--blue);
}

.white {
  color: var(--grey-white);
}

.grey {
  color: var(--grey);
}

#navbar {
  display: flex;
  padding: 40px 0px 20px 0px;
  margin: auto;
  justify-content: space-between;
  background-color: var(--bodycolor);
  position: sticky;
  top: 0px;
  z-index: 1;
}

#navbar > div:nth-child(1) {
  cursor: pointer;
  transition: 0.5s;
  color: var(--blue);
  margin-left: 10vh;
}

#navbar > div:nth-child(1):hover .und {
  background-position: 220px 0;
}

.und {
  height: 4px;
  background: -webkit-linear-gradient(0deg, transparent 50%, var(--blue) 50%);
  background-size: 450px 60px;
  transition: 0.5s;
  display: flex;
  margin: auto;
}

.und_small {
  height: 3px;
  background: -webkit-linear-gradient(0deg, transparent 50%, var(--blue) 50%);
  background-size: 450px 60px;
  transition: 0.5s;
}

#nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 45%;
}

#menu-icon {
  display: none; /* Hide the menu icon by default */
  cursor: pointer;
  margin-right: 25px;
}

/* Style for the bars of the hamburger menu icon */
.bar {
  width: 25px;
  height: 3px;
  background-color: var(--blue);
  margin: 5px 0;
  transition: 0.4s;
}

/* Animation for the bars of the hamburger menu icon when it's clicked */
#menu-icon.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

#menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

#menu-icon.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media queries for displaying the menu icon on smaller screens */
@media only screen and (max-width: 990px) {
  #menu-icon {
    display: block; /* Display the menu icon on smaller screens */
  }
  #nav-menu {
    display: none; /* Hide the menu by default on smaller screens */
  }

  #nav-menu.show {
    display: flex; /* Show the menu when the menu icon is clicked */
    flex-direction: column;
    width: 20%;
    position: absolute;
    right: 0px;
    top: 9.5vh;
    z-index: 1;
    background-color: var(--bodycolor);
  }
}

.nav-link {
  color: var(--grey-white);
  font-size: 17px;
  transition: 0.3s;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--blue);
}

.nav-link:hover .und_small,
#topicon > a > div:hover .und_small {
  background-position: 220px 0;
}

#navbar > div:nth-child(2) > div:hover .und_small {
  background-position: 220px 0;
}

#sun {
  width: 25px;
  margin-left: 5px;
  margin-top: 3px;
}

#sun > img {
  background-color: aliceblue;
  border-radius: 50px;
}

#tog {
  display: flex;
  align-items: center;
}

/* ---------------------------------------------toggle--start-------------------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------------------------toggle-over------------------------------- */
/* ------------------------top----------------------- */

.large {
  font-size: 50px;
}

#home {
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
}

#home > p {
  color: var(--grey);
  font-size: 17px;
  font-weight: 550;
}

.autotype {
  color: var(--grey-white);
}

#topicon {
  height: 60vh;
  width: 3.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  position: fixed;
}

#tophome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  width: 85%;
  margin: auto;
}

#tophome h1 {
  margin-bottom: 30px;
}

#tophome > div:nth-child(1) {
  width: 60%;
  padding: 20px 0px;
}

#tophome > div:nth-child(2) {
  width: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------------------------------------- */

#topicon > a > div > img {
  padding: 5px;
  border: 2px solid var(--grey-white);
  border-radius: 50px;
}

#topicon > a > div > img:hover {
  border: 2px solid var(--blue);
}

#topicon img {
  width: 25px;
  border-radius: 50px;
  transition: 0.3s;
}

#topicon > a > div {
  transition: 0.3s;
  cursor: pointer;
}

#topicon > a > div:hover {
  transform: scale(1.1);
}

#about {
  width: 80%;
  margin: auto;
}

#aboutone {
  display: flex;
  justify-content: space-between;
  width: 17%;
  margin: auto;
  flex-direction: column;
  cursor: pointer;
}

#user-detail-intro {
  margin-top: 30px;
}

#about img {
  display: flex;
  border-radius: 20px;
}

.home-img,
.hello {
  padding: 10px;
  border-radius: 22px;
  /* border: 4px solid #2978b5; */
  border: 4px solid var(--blue);
  transition: 0.3s;
}

.home-img:hover,
.hello:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.1);
}

#aboutdetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

#about > div > div:nth-child(1) {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about > div > div:nth-child(2) {
  width: 65%;
}

.ul {
  margin-left: 20px;
}

#exp,
#edu {
  width: 90%;
  margin: auto;
}

#exphead {
  width: 18%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  cursor: pointer;
}

#exphead > h1,
#eduhead > h1,
#codehead > h1,
#prohead > h1,
#touchhead > h1,
.skhead,
#aboutone > span > h1 {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

#exphead > h1:hover,
#eduhead > h1:hover,
#codehead > h1:hover,
#prohead > h1:hover,
#touchhead > h1:hover,
.skhead:hover,
#aboutone > span > h1:hover {
  color: var(--blue);
}

#eduhead {
  width: 16%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  cursor: pointer;
}

#expicon,
#eduicon {
  display: flex;
  margin: auto;
  border: 4px solid var(--grey);
  width: 60px;
  border-radius: 50px;
  padding: 5px 7px;
}

#expicon > img,
#eduicon > img {
  margin-top: 0px;
  border-radius: 50%;
}

.expdetail > div,
.edudetail > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.line {
  height: 10vh;
  width: 4px;
  display: flex;
  margin: auto;
  background-color: var(--grey);
}

.expdetail h4,
.expdetail h3,
.edudetail h4,
.edudetail h3 {
  color: var(--grey-white);
}

.expdetail p,
.edudetail p {
  color: var(--grey);
  margin-top: 8px;
}

#code {
  width: 80%;
  margin: auto;
}

#codehead {
  width: 16%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  cursor: pointer;
}

#code > div:nth-child(4) {
  width: 50%;
  margin: auto;
}

#github-streak-stats img {
  margin: 2rem 0px;
}

#addGit {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#addGit > div:nth-child(1) {
  width: 35%;
}

#addGit > div:nth-child(2) {
  width: 58%;
}

#prohead {
  width: 16%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  cursor: pointer;
}

#github-streak-stats {
  width: 80%;
  margin: auto;
}

#github-streak-stats img {
  border-radius: 10px;
}

#projects {
  width: 80%;
  margin: auto;
}

#allProjects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 1px 3px 0px var(--blue), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
  transition: 0.3s;
  padding: 0px 10px;
}

.project-card:hover {
  transform: scale(1.05);
}

.proimg {
  margin-top: 10px;
  width: 100%;
}

.proimg > img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  width: 100%;
}

.project-tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.project-tech-stack > div {
  width: 8%;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

.btn > a > div {
  border: 3px solid var(--grey);
  padding: 10px;
  cursor: pointer;
  background: -webkit-linear-gradient(0deg, transparent 50%, var(--blue) 50%);
  background-size: 450px 60px;
  transition: 0.5s;
}

.btn > a > div:hover {
  color: var(--bodycolor);
  background-position: 220px 0;
}

#contact {
  width: 85%;
  margin: auto;
}

#touchhead {
  width: 19.4%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
}

.contact-content {
  display: flex;
  justify-content: space-around;
}

.contact-content > div:nth-child(1) {
  width: 40%;
}

.contact-content > div:nth-child(2) {
  width: 40%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 1px 3px 0px var(--blue), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
}

#form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#form > h3,
#form > p {
  text-align: center;
  text-decoration: underline;
}

#form > input,
#msg {
  margin: 10px 0px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--blue);
}

#ok {
  font-size: medium;
  transition: 0.3s;
  background-color: var(--blue);
  color: whitesmoke;
}

#ok:hover {
  color: black;
  background-color: var(--color-calendar-graph-day-bg);
  border: 1px solid grey;
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#left > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#botimg {
  position: relative;
  padding-left: 1rem;
}

#botimg > img {
  border-radius: 12px;
}

.botoverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}

.icons {
  display: flex;
  justify-content: space-between;
}

.head {
  font-weight: bold;
  margin: 5px 0px;
}

#bottom {
  width: 50%;
  display: flex;
  margin: auto;
  color: var(--grey-white);
}

#bottom > h2 {
  margin: auto;
}

#heart {
  width: 6%;
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

#heart > img {
  width: 100%;
}

/* -----------------------------------git--------------------------------- */

:root {
  --color-calendar-graph-day-bg: #c7c7c7;
  --color-calendar-graph-day-L1-bg: #39dd34;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0a4208;
}

rect.ContributionCalendar-day[data-level="0"] {
  fill: var(--color-calendar-graph-day-bg);
}

rect.ContributionCalendar-day[data-level="1"] {
  fill: var(--color-calendar-graph-day-L1-bg);
}

rect.ContributionCalendar-day[data-level="2"] {
  fill: var(--color-calendar-graph-day-L2-bg);
}

rect.ContributionCalendar-day[data-level="3"] {
  fill: var(--color-calendar-graph-day-L3-bg);
}

rect.ContributionCalendar-day[data-level="4"] {
  fill: var(--color-calendar-graph-day-L4-bg);
}

.calendar .width-full > .float-left {
  display: none;
}

.calendar {
  width: auto;
  font-family: Helvetica, arial;
  border: 1px solid var(--grey);
  border-radius: 3px;
  min-height: 243px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}

.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: var(--grey-white);
}

.text-small {
  font-size: 12px;
  color: var(--grey);
}

.calendar-graph {
  padding: 5px 0 0;
  height: 126px;
  text-align: center;
}

.contrib-column {
  padding: 15px 0;
  text-align: center;
  border-left: 1px solid var(--grey);
  border-top: 1px solid var(--grey);
  font-size: 11px;
}

.contrib-column-first {
  border-left: 0;
}

.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: var(--grey-white);
}

text.ContributionCalendar-label {
  fill: var(--grey-white);
  font-size: 11px;
}

.title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* -----------------responsive-------------------- */

/* @media (max-width: 1200px) {
  #allProjects {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media (max-width: 990px) {
  #tophome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 85%;
    margin: auto;
  }

  #tophome > div:nth-child(1) {
    width: 90%;
    padding: 20px;
    order: 1;
  }

  #tophome > div:nth-child(2) {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 0;
  }

  #allProjects {
    grid-template-columns: repeat(2, 1fr);
  }

  #tophome h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  
  #aboutdetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  #about > div > div:nth-child(1) {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #about > div > div:nth-child(2) {
    width: 90%;
  }

  #user-detail-intro,
  .hello {
    margin-top: 30px;
  }

  #code > div:nth-child(4) {
    width: 90%;
  }

  #addGit {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #addGit > div:nth-child(1) {
    width: 50%;
    margin: auto;
  }

  #addGit > div:nth-child(2) {
    width: 90%;
    margin: auto;
  }
  .contact-content {
    flex-direction: column;
  }
  #touchhead,
  #bottom {
    width: 90%;
  }
  .contact-content > div:nth-child(1),
  .contact-content > div:nth-child(2) {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  #tophome > div:nth-child(2) {
    width: 80%;
  }
  #topicon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 10px;
    height: 5vh;
    background-color: var(--bodycolor);
    z-index: 1;
    margin: 0px;
  }
  .contact-content {
    flex-direction: column;
  }
  #touchhead,
  #bottom {
    width: 90%;
  }
  .contact-content > div:nth-child(1),
  .contact-content > div:nth-child(2) {
    width: 100%;
  }
  #nav-menu.show {
    width: 100%;
    line-height: 32px;
  }
  #navbar > div:nth-child(1) {
    margin-left: 4vh;
  }
  #allProjects {
    grid-template-columns: repeat(1, 1fr);
  }
  #botimg{
    margin: 10px 0px;
  }
}
